# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Vercel build output
.vercel/

# Logs
logs/
*.log

# Operating System files
.DS_Store
Thumbs.db

# Editor config files
.idea/
.vscode/

# Dependency directories
bower_components/

# Build output
dist/
